@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  background-color: #202020;
  font-size: 12px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.slick-next:before{
  font-size: 40px !important;
}

.slick-next{
  top: 280px !important;
}

.slick-list{
  overflow: visible !important;
}
.slick-dots{
  top: 500px !important;
}
.slick-dots li{
  margin-right: 2px !important;
}

.slick-active>div{
  background-color: red !important;
}


@layer components{
  .contain-center{
    @apply container mx-auto;
  }
  .common-input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 outline-none
  }

  
}