@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  background-color: #202020;
  font-size: 12px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

svg.slick-arrow.slick-next {
  color: white;
  right: 0;
  height: 70px;
  width: 70px;
  top: 300px !important;
  transform: translate(55%,-50%);
}

.slick-list{
  overflow: visible !important;
}
.slick-dots{
  top: 500px !important;
}
.slick-dots li{
  margin-right: 2px !important;
}

.slick-active>div{
  background-color: red !important;
}

@layer components{
  .contain-center{
    @apply container mx-auto;
  }

  
}